[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
six = "*"
markdown = "*"
loguru = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
pytest = "*"
flask-login = "*"
python-dotenv = "*"

"beautifulsoup4" = "*"
blinker = "*"
docutils = "*"
feedgenerator = "*"
"jinja2" = "*"
markupsafe = "*"
pelican = "*"
pygments = "*"
python-dateutil = "*"
pytz = "*"
unidecode = "*"
click = "*"
nbconvert = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
