[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
six = "*"
pytz = "*"
python-dateutil = "*"
unidecode = "*"
docutils = "*"
blinker = "*"
markdown = "*"
loguru = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
pytest = "*"
flask-login = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
