{% extends 'base.html' %}

{% block title %}
存档博文 {{ super() }}
{% endblock title %}

{% block head_description %}
{{ SITENAME|striptags|e }} 存档的博文作者因为精力优先，已经疏于照顾了，放在这里权做读者参考。
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
{% endblock meta_tags_in_head %}

{% block content %}
<div class="row">
    <header class="page-header col-md-10 col-md-offset-2">
    <h1><a href="{{ SITEURL }}/archives.html">存档博文</a></h1>
    </header>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="blog-archives">
            {% for article in dates %}
            {% if article.category == "archived" %}

            {% set year = article.date.year %}
            {% set last_year = 0 %}
            {% set next_year = 0 %}
            
            {% if not loop.first %}
            {% set last_year = dates[loop.index0 - 1].date.year %}
            {% endif %}

            {% if not loop.last %}
            {% set next_year = dates[loop.index0 +1].date.year %}
            {% endif %}

            {% if last_year != year %}
            <h2 id="{{ year }}"><a href="#{{year}}">{{ year }}</a></h2>
            {% endif %}

            {% if next_year != year %}
            <article class="last-entry-of-year">
            {% else %}
            <article>
            {% endif %}
            
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a>
            <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </article>
            
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
