{% extends 'base.html' %}

{% block content %}
<article class="container">
    <div class="row">
        <header class="col page-header">
            <h1>{{ bookref_author }}</h1>
        </header>
    </div>


    <div class="article-content">
        <div class="row row-cols-3">

        {% for article_row in articles| batch(3, '&nbsp;') %}
            {% for article in article_row %}
            {% if article.url %}
            <div class="col">
                <div class="thumbnail">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <img class="img-responsive" src="{{article.bookcover }}" alt="{{article.bookname}}">
                    </a>
                    <div class="caption">
                        <a href="{{ SITEURL }}/{{ article.url }}">
                            {{article.bookname}}
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</article>

{% endblock content %}